{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obs</title>
    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
</head>
<body>
    {% for counter in counters %}
        <div class="row">
            <div class="col">
                <span class="fs-2 d-inline">{{ counter.label }}:</span>
                <span class="fs-2 d-inline">{{ counter.value }}</span>
            </div>
        </div>
    {% endfor %}
    <script>
        const csrfToken = "{{ csrf_token }}";

        function fetchApiData() {
          fetch('{{ url }}', {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
              },
          })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
              }
              return response.json();
            })
            .then(data => {
              console.log(data);
              // Handle the data from the API
            })
            .catch(error => {
              console.error('There has been a problem with your fetch operation:', error);
            });
        }

        // Set interval to 5 seconds (5000 milliseconds)
        setInterval(fetchApiData, 1000);
    </script>
</body>
</html>