{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>obs</title>
    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
    <style>
        body {
            background: rgba(0, 0, 0, 0);
            padding-left: 50px;
        }

        span {
            color: black;
            font-size: 150px;
            text-shadow: rgba(255,255,255,0.8) 0 0 40px;
        }
    </style>
</head>
<body>
    {% for counter in counters %}
        <div class="row">
            <div class="col">
                <span class="counter-label d-inline">{{ counter.label }}:</span>
                <span class="counter-value d-inline" data-counter-id="{{ counter.id }}">{{ counter.value }}</span>
            </div>
        </div>
    {% endfor %}
    <script>
        const csrfToken = "{{ csrf_token }}";
        const url = "{% url 'widgetcounter-detail' pk=widget_id %}";
        function fetchApiData() {
          fetch(url, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
              },
          })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok ' + response.statusText);
              }
              return response.json();
            })
            .then(data => {
                data.counters.forEach(counter => {
                    var element = document.querySelector('[data-counter-id="' + counter.id + '"]');
                    element.innerHTML = counter.value;
                    console.log(counter.label, counter.value);
                });
            })
            .catch(error => {
              console.error('There has been a problem with your fetch operation:', error);
            });
        }

        // Set interval to 5 seconds (5000 milliseconds)
        setInterval(fetchApiData, 5000);
    </script>
</body>
</html>